---
// Loader component similar to Brittany Chiang's portfolio
---

<div class="loader-wrapper" id="loader">
	<div class="loader">
		<div class="loader-logo">
			<svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
				<title>AC</title>
				<g>
					<g id="A" transform="translate(11.000000, 5.000000)">
						<path d="M 25 35 L 15 65 L 20 65 L 22 58 L 28 58 L 30 65 L 35 65 L 25 35 Z M 23.5 53 L 26.5 53 L 25 47.5 Z" 
							  fill="currentColor"/>
					</g>
					<g id="C" transform="translate(45.000000, 5.000000)">
						<path d="M 25 35 C 17 35 12 40 12 50 C 12 60 17 65 25 65 C 30 65 35 62 37 58 L 33 55 C 32 58 29 60 25 60 C 20 60 17 56 17 50 C 17 44 20 40 25 40 C 29 40 32 42 33 45 L 37 42 C 35 38 30 35 25 35 Z" 
							  fill="currentColor"/>
					</g>
					<polygon id="Shape" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" points="39 0 0 22 0 78 39 100 78 78 78 22"></polygon>
				</g>
			</svg>
		</div>
	</div>
</div>

<style>
	.loader-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #0a192f;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	.loader-wrapper.fade-out {
		opacity: 0;
		visibility: hidden;
	}

	.loader {
		max-width: 100px;
		width: 100%;
		color: #64ffda;
		text-align: center;
	}

	.loader-logo svg {
		width: 100%;
		height: 100%;
		display: block;
		margin: 0 auto;
		fill: none;
		user-select: none;
	}

	#logo {
		animation: fade-in 1s ease-in-out 0.5s both;
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>

<script>
	// Hide loader after page loads
	window.addEventListener('load', () => {
		const loader = document.getElementById('loader');
		if (loader) {
			setTimeout(() => {
				loader.classList.add('fade-out');
				setTimeout(() => {
					loader.style.display = 'none';
				}, 250);
			}, 1000); // Show loader for 1 second minimum
		}
	});
</script>
